.summary a {
  display: block;
  background-color: #222222;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
}

.summary a:hover {
  opacity: 0.8;
}

.summary i {
  display: block;
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 38px;
}

.summary .fa-database {
  background-color: #bfbd13;
}

.summary .fa-bar-chart-o {
  background-color: #c58839;
}

.summary .fa-envelope {
  background-color: #859f46;
}

.summary h1 {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 20px;
  font-weight: normal;
}

.summary p {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #524e3c;
  font-size: 12px;
}
