
#menubtn {
  display: none;
}

#menu {
  display: block !important;
}

.menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu li a {
  display: block;
  padding: 10px 15px;
  color: #000000;
  font-size: 14px;
  text-decoration: none;
}

.menu li a:hover {
  background-color: #eeeeee;
}

.menu ul:after {
  content: "";
  display: block;
  clear: both;
}

.menu li {
  float: left;
  width: auto;
}
