@charset "UTF-8";

body {
  margin: 0;
  font-family: "맑은 고딕", "Apple SD Gothic Neo", sans-serif;
}

.site h1 {
  margin: 0;
  font-size: 30px;
}

.site a {
  color: #000;
  text-decoration: none;
}

.site img {
  /* img 의 width, height 속성으로 대체
  width: 250px;
  height: 33px; */
  border: none;
}

.menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu ul::after {
  content: "";
  display: block;
  clear: both;
}

.menu li {
  float: left;
}

.menu li a {
  display: block;
  padding: 10px 15px;
  color: #000;
  font-size: 14px;
  text-decoration: none;
}

.menu li a:hover {
  background-color: #eee;
}

.topimg {
  vertical-align: bottom;
  max-width: 100%;
}

.news {
  padding: 20px;
  border: 5px solid #ddd;
}

.news h1 {
  margin-top: 0;
  margin-bottom: 5px;
  color: #666;
  font-size: 18px;
}

.news ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.news li a {
  display: block;
  padding: 5px;
  border-bottom: dotted 2px #ddd;
  color: #000;
  font-size: 14px;
  text-decoration: none;
}

.news li a:hover {
  background-color: #eee;
}

.news a::after {
  content: "";
  display: block;
  clear: both;
}

.news time {
  float: left;
  width: 60px;
  color: #888;
  font-weight: bold;
}

.news .text {
  float: none;
  width: auto;
  margin-left: 60px;
}

.follow ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.follow li a {
  display: block;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 4px;
  color: #fff;
  font-size: 14px;
  text-decoration: none;
}

.follow li a:hover {
  opacity: 80%;
}

.follow-tw {
  background-color: #63bafb;
}

.follow-fb {
  background-color: #5288f7;
}

.follow-gp {
  background-color: #f65d4a;
}

.follow i {
  vertical-align: middle;
  margin-right: 10px;
  font-size: 24px;
}

.copyright p {
  margin: 0;
  color: #666;
  font-size: 14px;
}

.boxA {
  padding-top: 20px;
  padding-bottom: 10px;
}

.box4 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.boxA,
.box4,
.box5 {
  padding-right: 15px;
  padding-left: 15px;
}

.box4-1 {
  padding-bottom: 20px;
}

.box5 {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #ddd;
}

@media (max-width: 599px) {
  .menu li a {
    padding: 10px 7px;
    font-size: 11px;
  }
}

@media (min-width: 768px) {
  .boxA::after {
    content: "";
    display: block;
    clear: both;
  }

  .box1 {
    float: left;
  }

  .box2 {
    float: right;
  }

  .box4::after {
    content: "";
    display: block;
    clear: both;
  }

  .box4-1 {
    float: left;
    box-sizing: border-box;
    width: 70%;
    padding-right: 35px;
  }

  .box4-2 {
    float: left;
    width: 30%;
  }
}

@media (min-width: 1190px) {
  .boxA {
    margin-bottom: 20px;
    border-bottom: solid 1px #ddd;
  }

  .boxA-inner,
  .box3,
  .box4,
  .box5-inner {
    width: 1140px;
    margin-right: auto;
    margin-left: auto;
  }
}
