@charset "UTF-8";

body {
  margin: 0;
  font-family: "맑은 고딕", "Apple SD Gothic Neo", sans-serif;
}

@media (min-width: 768px) {
  .boxA::after {
    content: "";
    display: block;
    clear: both;
  }

  .box1,
  .box2 {
    float: left;
    width: 50%;
  }
}
